[
  {kernel, [

  ]},
  {rabbit, [
    {ssl_listeners, [{5671, "0.0.0.0"}] },
    {tcp_listen_options, [{5672, "0.0.0.0"}], [binary, {packet,raw},
                                  {reuseaddr,true},
                                  {backlog,128},
                                  {nodelay,true},
                                  {exit_on_close,false},
                                  {keepalive,false}]},
    {default_user, <<"sensu">>},
    {default_pass, <<"password">>},
    {default_vhost, <<"/sensu">>},
    {default_permissions, [<<".*">>, <<".*">>, <<".*">>]}
  ]}
].